:root{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: x-small;
  font-family: "monospace";
  font-family: 'Calibri';
  letter-spacing: 0.15em;
} 
main {
  background-color: #2e2c29;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header{
  display: flex;
  justify-content: space-between;

  color: #666;
  font-size: 0.1em;
  padding-bottom: 1.3em;
  margin-bottom: 1.3em;
  border-bottom: #ccc solid 0.1em;
  flex-wrap: wrap;
}
header > div {

  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
  padding: 1em;
}

#openEditor{
  justify-content: flex-end;
  text-align: end;
}
#openEditor > button{
  width: 15em;
}
#appInfo{
  text-align: flex-start;
  justify-content: flex-start;
}

section {
  background-color: #252525;
}

.hostsGroup{
  margin: 0.1em;
  border: solid black 0.1vh;
  padding: 0.3em;
}

.hostEntry{
  padding: 0.2em;
  border: solid black 0.1vh;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #333;
  font-weight: 200;
	color: white;
	border-top-right-radius: 0.8em;
  flex-wrap: wrap;
  min-width: 12em;
}

.hostName{
 text-overflow: ellipsis;
 color: white;
 font-size: small;
 font-weight: 300;
}
.hostIp{
 color: #ccc;
 font-size: xx-small;
}
.lastSeen{
  color: #333;
  font-size: 0.7em;
}

.online {
  background-color: #3d811e;
}
.offline {
  background-color: darkred;
}

#openHosts{
  border-radius: 0%;
  border: solid black 0.1em;
  font-size: xx-small;
  color: white;
  background-color: #252525;
}