:root{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
} 
main {
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer{
  color: #ccc
}

section {
  background-color: #252525;

}

.hostsGroup{
  margin: 0.1em;
  border: solid black 0.1vh;
  padding: 0.3em;
}
.hostEntry{
  padding: 0.2em;
  border: solid black 0.1vh;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #333;
  font-weight: 200;
	color: white;
	font-family: monospace;
	border-top-right-radius: 0.8em;
  font-size: 12px;
  flex-wrap: wrap;
  max-width: 10em;
}

.hostName{
 text-overflow: ellipsis;
 color: white;
 font-size: small;
 font-weight: 300;

}
.hostIp{
 color: #ccc;
 font-size: xx-small;
}

.online {
  background-color: #3d811e;
}
.offline {
  background-color: darkred;
}